{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "object-shorthand": 2,
    "no-var": 2
  }
}
