{
  "extends": [
    "@neogeek/eslint-config-standards",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "global-require": 0,
    "prefer-destructuring": 0
  }
}
